@import "../../../sass/variables";

:host{
    ul{
        margin: 0;
        padding: 0;
        li a{
            padding: .5rem 1rem;
            display: block;
            &:hover{
                background-color: $body-bg;
            }
        }
    }
    li{
        display: inline-block;            
        ul{
            background-color: $header-bg;
            display: none;
            position: absolute;
            z-index: 10;
            li,
            a{
                display: block;
            }
            a:hover{
                // background-color: $body-bg;
            }
        }
        &:hover ul{
            display: block;
        }
    }
}
