<header>
  <nav>
    <ul>
      <li><a routerLink="discover">Discover</a> </li>
      <li><a routerLink="movie">Movies</a> 
        <ul>
          <li><a routerLink="movie">Popular</a> </li>
          <li><a routerLink="movie/top-rated">Top Rated</a> </li>
          <li><a routerLink="movie/upcoming">Upcoming</a> </li>
          <li><a routerLink="movie/now-playing">Now Playing</a> </li>
        </ul>
      </li>
      <li>TV Shows</li>
      <li><a routerLink="people">People</a></li>
    </ul>
  </nav>
</header>