<div *ngIf="model">
  <h1>{{model.title}}</h1>
  <p>{{model.overview}}</p>
  <img src="https://image.tmdb.org/t/p/w500/{{model.poster_path}}" alt="">
  <h4>Genre</h4>
  <ul>
    <li *ngFor="let item of model.genres">
      <a [routerLink]="['/genre', item.id]">{{item.name}}</a>
    </li>
  </ul>
  <ul *ngIf="model.credits">
    <li *ngFor="let item of model.credits.cast">
      <a [routerLink]="['/people', item.id]">{{item.name}}</a>
    </li>
  </ul>
  <ul *ngIf="model.recommendations">
    <li *ngFor="let item of model.recommendations.results">
      <a [routerLink]="['/movie', item.id]">{{item.title}}</a>
    </li>
  </ul>
</div>
