<div class="container">
  <form>
    <input type="text" (keyup)="onKey($event)" id="search" [(ngModel)]="query" name="search" placeholder="Search for Movies, TV Shows and Celebrities">
    <a class="close" (click)="close()" *ngIf="query" >&times;</a>
  </form>
  <div class="results" *ngIf="query">
    <ul class="result-list" *ngIf="model">
      <li *ngFor="let item of model.results">
        <a [routerLink]="['/'+item.media_type, item.id]">
          <div class="image">
            <img *ngIf="!item.poster_path" src="http://via.placeholder.com/45x66" alt="">            
            <img *ngIf="item.poster_path" src="https://image.tmdb.org/t/p/w45/{{item.poster_path}}" alt="">            
          </div>
          <div class="meta">
            {{item.title || item.name}}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
